* {
	font-family: 'Raleway', sans-serif;
	color: #14162d;
}

h1 {
	font-family: 'Montserrat', sans-serif; 
	color: #319998;
}

h2, h3 {
	font-family: 'Montserrat', sans-serif; 
	text-align: center;
	color: #319998;
}

img {
	width: 100%;
}

figcaption {
	font-weight: bold;
}

button {
	color: white;
	border:	1px solid #319998;
	border-radius: 5%;
	background-color: #319998;
}

.homepage_main_paragraph {
	width: 40%;
	margin-left: 5%;
	margin-right: 5%;
	float: left;
}

.homepage_main_picture {
	width: 40%;
	margin-right: 5%;
}

.homepage_secundary_paragraph {
	width: 80%;
	margin: 0 10%;
	text-align: center;	
}


.first_block {
	margin-left: 4%;
}
.block {
	width: 28%;
	margin-right: 4%;
	float: left;
}

.price_tag {
	width: 30px;
	height: 20px;
	color: white;
	border:	1px solid #319998;
	border-radius: 15%;
	background-color: #319998;
}


