* {
	font-family: 'Raleway', sans-serif;
	color: #14162d;
	margin: 0 auto;
}

h1 {
	font-family: 'Montserrat', sans-serif; 
	color: #319998;
	text-align: center;
	font-size: 36px;
	padding: 20px;
}

h2 {
	font-family: 'Montserrat', sans-serif; 
	text-align: center;
	color: #319998;
	font-size: 36px;
	padding: 30px;
}

h3 {
	font-family: 'Montserrat', sans-serif; 
	text-align: center;
	color: #319998;
}

img {
	width: 100%;
}

figcaption {
	font-weight: bold;
	text-align: center;
	padding-bottom: 100px;
}

button {
	color: white;
	border:	1px solid #319998;
	background-color: #319998;
}

footer{
	width: 100%;
	height: 350px;
	background-color: #14162D;
}


.homepage_main_paragraph {
	width: 40%;
	margin-top: 5%;
	margin-left: 10%;
	margin-right: 10%;
	float: left;
	line-height: 30px;
	text-align: justify;
}

.homepage_main_picture,
.photo_product_connected_watch {
	width: 35%;
	margin-right: 5%;
}

.homepage_secundary_paragraph {
	width: 80%;
	margin: 0 10%;
	text-align: center;	
	padding: 50px 0;
	line-height: 30px;
}

.homepage_product_picture_three {
	height: 203px;
}

.more_info {
	float: right;
	position: relative;
	z-index: 3;
	top: 190px;
	right: 10px;
	border-radius: 50%;
}

.first_block {
	margin-left: 4%;
}

.block {
	width: 28%;
	margin-right: 4%;
	float: left;
	margin-top: 30px;
}

.photo_product_connected_watch {
	float: left;
	width: 40%;
	margin-left: 5%;
}

.watch_description {
	width: 100%;
} 

.second_list_watch {
	float: right;
	width: 50%;
}

.third_list_watch {
	width: 50%;
}

.border_watch {
	border-left: 7px solid #f58e3c;
	border-radius: 5px;
	float: left;
	margin-left: 15%;
	height: 920px;
}

.border_casque {
	border-left: 7px solid #f58e3c;
	border-radius: 5px;
	float: left;
	margin-left: 15%;
	height: 2500px;
}

.border_brassard {
	border-left: 7px solid #f58e3c;
	border-radius: 5px;
	float: left;
	margin-left: 15%;
	height: 220px;
}

.watch_secundary_paragraph,
.casque_secundary_paragraph,
.brassard_secundary_paragraph {
	width: 65%;
	text-align: justify;
	line-height: 30px;
	padding: 20px 0;
}

.price_tag {
	width: 100px;
	height: 20px;
	color: white;
	border:	1px solid #319998;
	border-radius: 15%;
	background-color: #319998;
}

.newsletter{
  width: 20%;
  height: 50%;
  float: left;
  text-align: center;
  color: #fff;
  margin-top: 2%;
}

.newsletter img{
  width: 15%;
}

.payplug{
	width: 20%;
	height: 50%;
	float: left;
	text-align: center;
	position: relative;
	top: 50%;
	right: 20%;
}

.payplug img{
    width: 30%;
    margin-top: 10%;  
}

.reseaux{
    width: 20%;
    position: relative;
    top: 5%;
    height: 20%;
}

.reseaux img{
    width: 12%;
    margin-left: 10%;
    margin-right: 10%;
}

.service{
    width: 20%;
    position: relative;
    top: 25%;
}

.service p{
    text-align: center;
    color: #fff ;
}

.copyright{
    width: 15%;
    position: relative;
    top: 55%;
}

.copyright p{
    text-align: center;
    color: #fff;
}

.contact{
    width: 15%;
    margin-right: 1%;
    float: right;
}

.contact p{
    color: #fff;
}

@media screen and (max-width: 600px){
    footer{
        height: 1000px;
    }
    .reseaux{
        width: 90%;
        height: 70px;
        position: relative;
        top: 0px;
    }
    
    .reseaux img{
        width: 12%;
        margin-left: 20px;
        margin-right: 10px;
        position: relative;
        left: 100px;
    }

    .newsletter{
        width: 20%;
        height: 50px;
        float: none;
        text-align: center;
        color: #fff;
        position: relative;
        top: 250px;
    }
    
    .newsletter img{
      width: 50%;
    }

    .service{
        width: 40%;
        position: relative;
        top: 280px;
    }

    .payplug{
        width: 60%;
        height: 50px;
        float: none;
        text-align: center;
        position: relative;
        top: 530px;
        }
        
        .payplug img{
            width: 100px;
            margin-top: none;  
            float: right;
        }

        .contact{
            width: 50%;
            margin-right: none;
            float: none;
            position: relative;
            top: 500px;
            right: 25%;
            text-align: center;
        }

        .copyright{
            width: 50%;
            position: relative;
            top: 720px;
        }
}

