* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

nav img {
    width: 37px;
}

nav {
    width: 100%;
    margin: 0 auto;
    position: sticky;
    top: 0px;
}

nav ul{
    list-style-type: none;
    background-color: #f58e3c;
}

nav ul li{
    float: left;
    width: 20%;
    text-align: center;
    position: relative;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav li {
    padding: 3px 0;
}

nav a{
    font-family: montserrat;
    font-weight: 600;
    display: block;
    text-decoration: none;
    color: white;
    border-right: solid 2px white;
    padding: 10px 0px;
}
nav li:last-child a{
    border: 0;
}

nav a:hover{
    background-color: #319998;
}

nav ul li:hover .sous{
    display: block;
}

nav .logo {
    width: 200px;
}

nav .logo img {
    width: 150px;
}

.topofnav {
    width: 100%;
    text-align: center;
}

.topofnav div {
    display: inline;
    padding: 0;
}

.network {
    width: 120px;
    float: left;
    margin-top: 1%;
    margin-left: 2%;
}


.other {
    padding-right: 0;
    width: 120px;
    float: right;
    margin-top: 1%;
    margin-right: 2%;
}

.sous {
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: #f58e3c;
    position: absolute;
    width: 100%;
    z-index: 1000;
}

.sous li{
    float: none;
    width: 100%;
    text-align: left;
}
.sous a{
    text-align: center;
    padding: 10px;
    border-bottom: none;
    border-right: none;
}
.sous a:hover{
    border-bottom: none;
    background-color: #319998;
}

.container {
    width: 900px;
    height: 700px;
    border-radius: 55px;
    margin: 50px 20%;
    background-color: #CCC;
}

h1 {
    color: #319998;
    font-family: montserrat;
    font-size: 34px;
    padding-top: 50px;
}

section div a {
    font-family: montserrat;
    font-weight: 400;
    color: #fff;
    border-radius: 20px;
    background-color: #319998;
    padding: 5px 15px;
}

form {
    font-family: montserrat;
    font-size: 26px;
    font-weight: 400;
}

form input {
    background-color: #319998;
    padding: 5px 15px;
    border-radius: 20px;
    border: 0;
}

form p {
    font-family: RaleWaye, sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin-left: 130px;
}
form p:last-child {
    font-family: RaleWaye, sans-serif;
    font-size: 12px;
    font-weight: 200;
    margin-top: 10px;
    margin-left: 130px;
    width: 650px;
}

div textarea {
    margin: 30px 0;
    padding: 35px;
}

.block-contact {
    margin: 0;
    padding: 20px 0;
}

.labels {
    padding-top: 100px;
    width: 130px;
    float: left;
    margin: 20px 30px 0 130px;
}
.labels label {
    padding-bottom: 40px;
    float: left;
}

::placeholder {
    font-family: RaleWaye, sans-serif;
    color: white;
  }

.all-contact {
    padding: 15px 0 0 0;
}

.two-blocks {
    padding-top: 80px;
}

.two-blocks div:first-child {
    margin-right: 40px;
    float: left;
}

.button {
    text-align: center;
}

.button button {
    background-color: #319998;
    color: #fff;
    padding: 5px 15px;
    border-radius: 20px;
    border: 0;
}